{% extends "base.html" %}

{% block title %}Update pliku{% endblock %}

{% block content %}
    {% if is_admin %}
    {#   TODO: set /1 to selected file     #}
    <form action="/admin/file/1" method="post" enctype="multipart/form-data"
          id="updateForm" class="container border rounded p-4">
    {% elif is_user %}
    <form action="/user/file/1" method="post" enctype="multipart/form-data"
          id="updateForm" class="container border rounded p-4">
    {% endif %}
        <h1>Modify entry</h1>
        <div class="form-floating">
            <input class="form-control w-50" type="text" id="fileName" name="name" placeholder="File name:">
            <label for="fileName">File name:</label>
        </div>
        <label class="form-label" for="uploadedFile">Uploaded file:</label>
        <input class="form-control w-50" type="file" id="uploadedFile" name="file">

        <label class="form-label" for="tags" style="font-size: 25px;">Tags:</label>
        <div class="d-flex align-items-center mb-3">
            <input class="form-control w-25" list="tagOptions"
                   id="tags" placeholder="Type to search...">
            <datalist id="tagOptions">
                {% for tag in tags %}
                    <option value="{{tag.name}}" data-id="{{ tag.id }}"></option>
                {% endfor %}
            </datalist>
            <button type="button" class="btn btn-primary ms-2" id="addTagBtn">Add</button>
        </div>

        <ul id="selectedTags" class="list-inline tag-list"></ul>
        <input type="hidden" name="tags" id="tagsInput">
        <div>
            <button id="submit" class="btn btn-success" type="submit" style="margin-top: 30px">Edit</button>

        </div>
    </form>
    {% if is_admin %}
    <form action="/admin/change_status" method="post" enctype="multipart/form-data"
          id="updateForm" class="container border rounded p-4">
            <input type="hidden" name="file_id" id="fileId"
                value="51">
            <input type="hidden" name="version" id="fileId"
                value="1">
            <label class="form-label" for="fileStatus">File status:</label>
            <select name="status" class="form-select w-25" aria-label="Select status" id="status" style="margin-left: 10px">
              <option value="pending">pending</option>
              <option value="accepted">accepted</option>
              <option value="rejected">rejected</option>
            </select>
        <button type="submit" id="changeStatus" class="btn btn-success" style="margin-top: 30px; margin-left: 20px">Change status</button>
    </form>
    {% endif %}
    <script src="/static/js/utils/manageTagList.js"></script>
{% endblock %}